*{
  margin: 0;
  padding: 0;
}

body{
  min-width: 900px;
}

header{
  height: 280px;
  background-color: #efe6df;
}

.logo{
  position: relative;
  text-align: center;
  width: 800px;
  height: 226;
  margin-left: auto;
  margin-right: auto;
}
.logo .title{
  position: absolute;
  width: 800px;
  font-family: 'Homemade Apple';
  font-size: 30pt;
}
.logo .main{
  margin-top: 20px;
  width: 800px;
  font-family: 'Homemade Apple';
  font-size: 72px;
  position: absolute;
}
.logo .main span{
  font-size: 144px;
}
.logo .jp{
  width: 800px;
  position: absolute;
  margin-top: 220px;
  font-family: 'Roboto';
  font-size: 24px;
}

.header ul{
  padding-top: 240px;
  text-align: right;
}
.header li {
  font-size: 16px;
  display: inline;
  margin-right: 100px;
  font-family: 'roboto';
}
.header li a{
  text-decoration: none;
  color: #000;
}

main section{
  margin: 3.2vw 5vw;
  border-radius: 75px;
  padding: 3.2vw 5vw;
}
main section h1{
  font-family: 'Allura';
  font-size: 80px;
  width: 100%;
  text-align: center;
}
main section h2{
  font-family: 'Allura';
  font-size: 48px;
  text-align: center;
}
main section h3{
  font-size: 32px;
  width: 100%;
}
main section div{
  float: left;
  margin-top: 3.2vw;
}

#about-our-app{
  background-color: #d7fce9;
  height: 500pt;
}
#about-our-app ul{
  float: left;
  margin-left: 100px;
  font-size: 16px;
}
.nayami{
  width: 740;
  height: 460px;
  background-image: url(../images/nayami-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 740px;
}
.nayami h3{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.nayami img{
  float: left;
  margin-top: 70px;
}
.nayami ul{
  margin-top: 1vw;
  width: 350px;
}
.sokode{
  min-width: 0px;
  width: 570px;
  height: 420px;
  float: right;
  background-image: url(../images/sokode-back.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.sokode h3{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.sokode img{
  margin-top: 70px;
  float: right;
}
.sokode ul{
  margin-top: 2vw;
  padding-left: 0;
  width: 250px;
  float: left;
}

#functions{
  background-color: #fffecf;
  height: 1267px;
}
#functions .main-functions{
  width: 80vw;
  height: 8.8vw;
  background-image: url(../images/main-back.png);
  background-size: 80vw 8.8vw; /* 可変にする */
  background-repeat: no-repeat;
}
#functions .main-functions p{
  margin: 70px 40px 0px 40px;
}
#functions .special-functions{
  width: 50%;
  height: 350px;
  background-image: url(../images/special-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 740px;
}
.special-functions .text{
  float: left;
  margin-left: 50px;
}
.special-functions .text p{
  margin-top: 50px;
  width: 400px;
}
.special-functions img{
  margin-top: 50px;
  float: left;
  margin-left: 50px;
  width: 20%;
}

#team-introduction{
  background-color: #ffdace;
  height: 1400px;
  width: 80vw;
}
#team-introduction .left{
  width: 38.5vw;
  height: 1250px;
  margin-right: 2.5vw;
  background-image: url(../images/team-back.png);
  background-size: 740px 1250px;
  background-repeat: no-repeat;
  min-width: 740px;
}
#team-introduction .right{
  min-width: 740px;
  width: 38.5vw;
  float: right;
}

.intro-li{
  display: inline;
}
.intro{
  margin: 30px 50px;
  font-size: 22px;
}
.intro .image{
  width: 150px;
  height: 150px;
  border-radius: 40px;
  float: left;
}
.intro .content{
  margin: 0px 0px 0px 30px;
}
.intro .content .name{
  font-weight: bold;
}
.intro .content .text{
  background-color: #ffece7;
  border-radius: 20px;
  padding: 10px;
  width: 430px;
}

.contact{
  margin-top: 200px;
  margin-left: 50px;
  font-size: 32px;
  font-weight: thin;
  font-family: 'Roboto';
}
.contact h3{
  font-size: 32px;
  font-family: 'Allura';
  text-align: left;
}

footer{
  background-color: #ffebd2;
  height: 48px;
  text-align: center;
  font-size: 18px;
}